<turbo-frame id="toggle-public" class="switch-container">
  <form action=<%=toggle_public_path(id:@recipe.id)%> data-remote="true" method="post">
    <label>Public </label>
    <label class="switch">
      <input type="submit"  class=<%=@recipe.public ? 'public' : '' %>
            />
      <span class="slider"/>
    </label>
  </form>
</turbo-frame>
