.container-full {
  width: 100%;
}

.recipe-card {
  display: flex;
  border: 1px solid lightgray;
  margin: 10px auto;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


.btn:hover {
  cursor: pointer;
}

.btn-small {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
}

.btn-small:hover {
  cursor: pointer;
}

.primary-color {
  color: #007bff;
}

.secondary-color {
  color: #6c757d;
}

.danger-color {
  color: #dc3545;
}

.warning-color {
  color: #ffc107;
}

.success-color {
  color: #28a745;
}

.info-color {
  color: #17a2b8;
}

.dark-color {
  color: #343a40;
}

.light-color {
  color: #f8f9fa;
}

.primary-bg-color {
  background-color: #007bff;
}

.secondary-bg-color {
  background-color: #6c757d;
}

.danger-bg-color {
  background-color: #dc3545;
}

.success-bg-color {
  background-color: #28a745;
}

.info-bg-color {
  background-color: #17a2b8;
}

.warning-bg-color {
  background-color: #ffc107;
}

.dark-bg-color {
  background-color: #343a40;
}

.light-bg-color {
  background-color: #f8f9fa;
}

.margin-botton-10 {
  margin-bottom: 10px;
}

.margin-botton-5 {
  margin-bottom: 5px;
}

.margin-botton-20 {
  margin-bottom: 20px;
}

.larger-font {
  font-size: larger;
}

.small-font {
  font-size: small;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.space-between {
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
}

.padding-10 {
  padding: 10px;
}

.element-right {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 200px
}

.recipe-title {
  width: 30%;
}

.link {
  border:none;
  background-color: inherit;
}

.text {
  text-decoration: none;
  color: inherit
}

.link:hover {
  text-decoration: underline;
}

.text-centered {
  text-align: center;
}

@media (max-width: 500px) {
  .recipe-card {
    flex-direction: column;
  }

  .recipe-title {
    width: 90%;
  }

  .small-font {
    font-size: medium;
  }

  .info-recipe {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
}
