.switch-container > form {
  display: flex;
  align-items: center;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
  margin-inline: 5px;
}

.switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 23px;
}

.slider::before {
  content: '';
  left: 3px;
  top: 3px;
  width: 26px;
  height: 26px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input.public + .slider {
  background-color: tomato;
}

input.public + .slider::before {
  transform: translateX(28px);
}
